@import url('https://fonts.googleapis.com/css?family=Noto Sans');

html {
    background-color: #1c1b16;
    font-family: 'Noto Sans';
    font-size: 18px;
}
nav {
    background-color: #e9b200;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    -webkit-box-shadow: 0px 0px 79px -25px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 79px -25px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 79px -25px rgba(66, 68, 90, 1);
}

main {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    height: fit-content;
    gap: 20px;
}

.nav-adapter {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
.nav-title {
    font-weight: bold;
    color: #ffffff;
    font-size: 30px;
    text-shadow: 0px 0px 18px rgba(66, 68, 90, 1);
}

input {
    width: 350px;
    height: 60px;
    border: none;
    border-radius: 30px;
    padding-left: 10px;
    font-size: 15px;
    text-align: center;
    color: #1c1b1662;
    font-weight: bold;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

input:focus {
    outline: none;
    -webkit-box-shadow: inset 0px 0px 79px -33px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 79px -33px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 79px -33px rgba(66, 68, 90, 1);
    transition: box-shadow 0.3s ease-in-out;
}

button {
    width: 360px;
    height: 60px;
    border: none;
    color: #ffffff;
    background-color: #ffc300;
    border-radius: 30px;
    padding-left: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 79px -25px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 79px -25px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 79px -25px rgba(66, 68, 90, 1);
}

button:hover {
    cursor: pointer;
}

.alert-box {
    position: absolute;
    width: 400px;
    height: 250px;
    top: calc(50% - 125px);
    right: calc(50% - 200px);
    border-radius: 35px;
    background-color: #1c1b16;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alert-box-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    z-index: 9;
}

.nav-button {
    background-color: rgba(66, 68, 90, 0.2);
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    transition: box-shadow 0.3s ease-in-out;
    padding: 0;
    margin: 0;
}

custom-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    height: fit-content;
    padding: 20px;
    border-radius: 30px;
    width: 200px;
    background-color: #292720;
    color: white;
    font-size: 0.8rem;
}

.menu-active {
    display: flex !important;
}
.custom-menu-button {
    color: aqua;
}

@media only screen and (max-width: 1060px) {
    custom-menu {
        right: 20px;
    }

    .nav-adapter {
        width: 100%;
    }

    .nav-button {
        margin: 0 30px 0 30px;
    }
}

@media only screen and (max-width: 450px) {
    button {
        width: 80%;
    }
    input {
        width: 80%;
    }
}
